# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ajrom\dev\flatiron\labs\fewpjs-fns-as-first-class-data-do-behavior-online-web-sp-000\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
